<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia debitis corporis obcaecati maxime animi recusandae
        tempora voluptatum, modi explicabo iste omnis minus laudantium cum dolorum perspiciatis inventore odio, neque
        pariatur, provident amet. Voluptatem autem aspernatur odit in quasi neque perferendis voluptas animi delectus
        quis. Quo ducimus in recusandae nostrum ullam?</p>
</body>

</html>